.kaufman {
	background-color: #1f1f1f;
	color: white;
	padding: 90px;
}

.table__cell_theme-dark {
	width: 200px;
	margin-top: 80px; }

.section-title_theme-dark {
		line-height: 1.15;
		font-size: 60px;
		font-weight: bold;
	}

.section-subtitle_theme-dark{


	}

.table__heading_theme-dark {

	}

.table__text_theme-dark {

	}